{% extends 'My_shop/profile.html' %}

{% block content %}      
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>All products <small class="text-muted">Welcome to My_shop</small></h2>
                <li class="float-up">
                    <a href="{% url 'Logout' %}" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a>
                    
                            
                </li>
            </div>            
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                
                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                        <i class="zmdi zmdi-plus"></i>
                    </button>
                
                    
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i>My-Shop</a></li>
                    
                    <li class="breadcrumb-item active"> My_ shop All Products</li>
                    
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container-fluid">                
        
        
<div class="row clearfix">
<div class="col-lg-12">
    <div class="card">
        <div class="body">
            <ul class="nav nav-tabs padding-0">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Permanent">My_shop Products</a></li>
                
            </ul>
            
           
        </div>
    </div>
    
    <div class="tab-content m-t-10">
        <div class="tab-pane active" id="Permanent">
            <div class="row clearfix">

                {% for i in product_details %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card xl-blue member-card doctor">
                        <div class="body">
                            <div class="member-thumb">
                                <img src="" class="img-fluid" alt="profile-image">                               
                            </div>
                            <div class="detail">
                                <h4 class="m-b-0">{{i.productid}}</h4>
                                <p class="text-muted">{{i.productname}}</p>
                                
                                <p class="text-muted">{{i.productmodel}}</p> 
                                <p class="text-muted">Rs.{{i.productprice}}</p> 
                                <p class="text-muted">{{i.productram}}</p> 
                                
                                <a href="{% url 'edit-products' i.id %}" class="btn btn-default btn-round btn-simple">Edit</a>
                                <a href="{% url 'delete' i.id %}" class="btn btn-default btn-round btn-simple">Delete</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
               
            </div> 
        </div>
        
    </div>
</div>
</div>

    </div>
</section>
{% endblock%}        
               